xsdgen/testdata/bindata.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="tns"
  targetNamespace="tns">
  
  <element name="bindata" type="tns:bindata" />

  <complexType name="bindata">
    <element name="hexData" type="hexBinary"/>
    <element name="b64Data" type="base64Binary"/>
    <element name="filename" type="string"/>
  </complexType>
</schema>
